#body{
    margin: 10px;
}
.card{
    margin: 10px;
}
.locations{
    position: static;
}
.card-body{
    position: static;
}
.top-jumbo{
    background-color: teal;
    color: white;
}
.bottom-jumbo{
    background-color: yellowgreen;
    color: white;
}